<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NumberQuest</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body class="bg-gray-700 min-h-screen flex justify-center">
    <div id="app">
      <h1 class="text-8xl text-white font-bold flex justify-center my-6">
        <span
          class="text-transparent bg-gradient-to-b bg-clip-text from-yellow-200 to-red-800"
          >NumberQuest</span
        >
      </h1>
      <div v-if="serverReady">

        <!-- GAME AREA SECTION-->
        <section class="max-w-4xl bg-gray-300 rounded-xl flex flex-col my-10">
          <label class="inline-flex items-center m-3 font-bold">
            Game Area
          </label>
          <div class="p-2 flex justify-center">
            <div>
              <button
                v-on:click="clearGame"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
              >
                clear game area
              </button>
            </div>
            <label class="mx-4 mt-2">Select Difficulty:</label>
            <input
              class="mx-4 mt-3"
              type="radio"
              id="easy"
              value="1"
              v-model="gametype"
            />
            <label class="mx-1 mt-2" for="easy">2 digits</label>
            <input
              class="mx-4 mt-3"
              type="radio"
              id="medium"
              value="2"
              v-model="gametype"
            />
            <label class="mx-1 mt-2" for="medium">3 digits</label>
            <input
              class="mx-4 mt-3"
              type="radio"
              id="hard"
              value="3"
              v-model="gametype"
            />
            <label class="mx-1 mt-2" for="hard">4 digits</label>
          </div>
          <div class="m-3">
            <div class="inline-flex space-x-4">
              <div class="p-1">try:</div>
              <input
                type="number"
                v-model="currentGuess"
                class="w-20 px-3 py-1 rounded outline-none focus:outline-none focus:shadow-outline"
              />
              <div>
                <button
                  v-on:click="postGuess"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 border border-blue-700 rounded-lg"
                >
                  try this
                </button>
              </div>
              <div class="p-1">{{result}} ({{guesses}})</div>
            </div>
          </div>
        </section>

        <!-- DEBUGGING SECTION-->
        <section class="max-w-4xl bg-gray-300 rounded-xl flex flex-col my-10">
          <label class="inline-flex items-center m-3">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-yellow-600"
              v-model="showOutputSection"
            /><span class="ml-2 text-gray-700 font-bold"
              >Debugging / Output</span
            >
          </label>
          <div v-show="showOutputSection" class="m-3">
            <div>Output:</div>
            <div>
              <pre>
                    {{output}}
                </pre
              >
            </div>
          </div>
        </section>

        <!-- PLAYERS SECTION-->
        <section class="max-w-4xl bg-gray-300 rounded-xl flex flex-col my-10">
          <label class="inline-flex items-center m-3">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-yellow-600"
              v-model="showPlayersSection"
            /><span class="ml-2 text-gray-700 font-bold">Players:</span>
          </label>
          <div v-show="showPlayersSection" class="m-3">
            <div>
              <button
                v-on:click="playerlist"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
              >
                refresh list of players
              </button>
            </div>
            <div class="m-3"></div>
            <div v-for="player in players" :key="player">{{player.Name}}</div>
          </div>
        </section>
        <section class="max-w-4xl bg-gray-300 rounded-xl flex flex-col my-10">
          <label class="inline-flex items-center m-3">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-yellow-600"
              v-model="showScoreSection"
            /><span class="ml-2 text-gray-700 font-bold">Score-Table:</span>
          </label>
          <div v-show="showScoreSection" class="m-3">
            <div>
              <button
                v-on:click="getScoreTable"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
              >
                refresh score table
              </button>
            </div>
            <div class="m-3"></div>
            <div v-for="(game,key) in scoreTable" class="m-3 font-bold">
              {{key}}:
              <div
                v-for="entry in game"
                :key="game.User"
                class="m-2 font-normal"
              >
                {{entry.User}} - {{entry.TryCount}} -
                <span :class="{ 'text-green-600 font-bold': entry.HasWon}"
                  >{{entry.HasWon}}</span
                >
              </div>
            </div>
          </div>
        </section>

        <!-- SPECIAL SECTION-->
        <section class="max-w-4xl bg-gray-300 rounded-xl flex flex-col my-10">
          <label class="inline-flex items-center m-3">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-yellow-600"
              v-model="showSpecialSection"
            /><span class="ml-2 text-gray-700 font-bold">Special</span>
          </label>
          <div v-show="showSpecialSection" class="m-3">
            <div class="m-4"></div>
            <div>
              <button
                v-on:click="resetServer"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
              >
                reset game on server
              </button>
            </div>
            <div class="m-4"></div>
            <div>
              <button
                v-on:click="solveAlgorithmically"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
              >
                solve game algorithmically
              </button>
            </div>
            <div class="m-4"></div>
            <div>
              <button
                v-on:click="hackServer"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg"
              >
                hack the secret numbers!
              </button>
            </div>
          </div>
        </section>
      </div>
      <div v-else class="mt-32 text-6xl text-red-400">
        backend server is not responding!
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
